<!--footer-->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <br>
                <h3>ENCUETRANOS EN</h3><br>
                <div class="row flex align-items-center">
                    <a class="nav-link" href="#"><i class="fa fa-facebook fa-3x"></i></a>
                    <p>Bookers</p>
                </div>
                <div class="row flex align-items-center">
                    <a class="nav-link" href="#"><i class="fa fa-whatsapp fa-3x"></i></a>
                    <p>238-149-57-51</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <br>
                <h3>QUIENES SOMOS</h3><br>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex repellat minima sed voluptatibus perspiciatis ab. Fugit ipsam sed alias magnam.
                </p>
            </div>
            <div class="col-lg-4 col-md-12">
                <br>
                <h3>NUESTRA MISIÓN</h3><br>
                <P>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi eligendi laudantium, dolor aliquid maiores molestiae sint nulla provident eveniet deserunt ullam accusantium qui suscipit. Quisquam.
                </P>
            </div>
        </div><br>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <P>©2019 Bookers Todos los derechos reservados</P>
            </div>
        </div>
    </div>
</footer>
<!--footer-->