<div class="galeria contenido">
    <div class="container formulario mt-5">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <br>
                <h2 class="section-heading">Contáctanos</h2>
                <h3 class="section-subheading text-muted">Envíanos un mensaje dando tu opinión</h3>
                <form>
                    <div class="row mt-4">

                        <div id="input" class="col-md-4 col-sm-12"><input type="text" placeholder="Ingrese su nombre"></div>
                        <div id="input" class="col-md-4 col-sm-12"><input type="text" placeholder="Ingrese su teléfono"></div>
                        <div id="input" class="col-md-4 col-sm-12"><input type="text" placeholder="Asunto"></div>

                    </div>
                    <div class="row">
                        <div class="col-12">
                            <textarea placeholder="Mensaje"></textarea>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <br>
                                <input id="sendMessageButton" class="btn btn-md text-uppercase" type="submit" value="Enviar Mensaje">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-4 colmd-12" id="DatosContacto">
                <br>
                <h2 class="section-heading">Dirección</h2><br>
                <div class="container">
                    <div class="row">
                        <div class="col-2">
                            <i style="font-size: 40px" class="fa fa-map-marker"></i>
                        </div>
                        <div class="col-10">
                            <p> Calle 4 Ote. 119, Centro de la Ciudad, 75700 Tehuacán, Puebla, México.</p>
                        </div>

                    </div>
                </div>


                <h2 class="section-heading">Ubicación</h2><br>
                <div class="mapa">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d946.1071729002789!2d-97.39195657081308!3d18.464231171282076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c5bcd71c978045%3A0x6cfc6dd841de4794!2sCalle+3+Nte.+113%2C+Centro+de+la+Ciudad%2C+75700+Tehuac%C3%A1n%2C+Pue.!5e0!3m2!1ses-419!2smx!4v1564366786608!5m2!1ses-419!2smx"
                        width="1000" height="650" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

            </div>
        </div>

    </div>

</div>