.card {
    margin: 15px;
}

.category {
    padding: 15px;
}

.image-box {
    position: relative;
    margin: auto;
    overflow: hidden;
    border-radius: 50px;
}

.image-box img {
    max-width: 100%;
    transition: all 0.5s;
    display: block;
    width: 100%;
    height: auto;
    transform: scale(1);
    border-radius: 50px;
}

.image-box:hover img {
    transform: scale(.9);
}