<div class="container " style="margin-top: 50px;">
    <div class="row">
        <div class="col-xl-4 col-lg-6 category">
            <div class="card border-0 text-white text-center" class="image-box">
                <a [routerLink]="['../result/','Novela']">
                    <img src="../../assets/car1.jpg" style="filter: blur(1px)">


                    <div class="card-img-overlay d-flex align-items-center" id="content">
                        <div class="w-100 text-center" style="color: white;">
                            <h2>Novela</h2>
                            <a [routerLink]="['../result/','Novela']" class="btn btn-link text-white">Ver Más</a>
                            <i class="fa fa-arrow-right ml-2"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 category">
            <div class="card border-0 text-white text-center" class="image-box">
                <a [routerLink]="['../result','Historia']">
                    <img src="../../assets/car1.jpg" style="filter: blur(1px);">


                    <div class="card-img-overlay d-flex align-items-center" id="content">
                        <div class="w-100 text-center" style="color: white;">
                            <h2>Historia</h2>
                            <a [routerLink]="['../result','Historia']" class="btn btn-link text-white">Ver Más</a>
                            <i class="fa fa-arrow-right ml-2"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6 category">
            <div class="card border-0 text-white text-center" class="image-box">
                <a [routerLink]="['../result','Epopeya']">
                    <img src="../../assets/car1.jpg" style="filter: blur(1px)">


                    <div class="card-img-overlay d-flex align-items-center" id="content">
                        <div class="w-100 text-center" style="color: white;">
                            <h2>Epopeya</h2>
                            <a [routerLink]="['../result','Epopeya']" class="btn btn-link text-white">Ver Más</a>
                            <i class="fa fa-arrow-right ml-2"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>