<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col-xl-4 col-lg-6">
            <div class="card border-0 text-white text-center" id="zoom">
                <img src="../../assets/car1.jpg" style="filter: blur(1px)">
                <div class="card-img-overlay d-flex align-items-center">
                    <div class="w-100">
                        <h2>ACCION</h2>
                        <a href="#" class="btn btn-link text-white">Ver Más</a>
                        <i class="fa fa-arrow-right ml-2"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6">
            <div class="card border-0 text-white text-center" id="zoom">
                <img src="../../assets/car1.jpg" style="filter: blur(1px)">
                <div class="card-img-overlay d-flex align-items-center">
                    <div class="w-100">
                        <h2>NOVELA</h2>
                        <a href="#" class="btn btn-link text-white">Ver Más</a>
                        <i class="fa fa-arrow-right ml-2"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6">
            <div class="card border-0 text-white text-center" id="zoom">
                <img src="../../assets/car1.jpg" style="filter: blur(1px)">
                <div class="card-img-overlay d-flex align-items-center">
                    <div class="w-100">
                        <h2>DRAMA</h2>
                        <a href="#" class="btn btn-link text-white">Ver Más</a>
                        <i class="fa fa-arrow-right ml-2"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6">
            <div class="card border-0 text-white text-center" id="zoom">
                <img src="../../assets/car1.jpg" style="filter: blur(1px)">
                <div class="card-img-overlay d-flex align-items-center">
                    <div class="w-100">
                        <h2>FANTASIA</h2>
                        <a href="#" class="btn btn-link text-white">Ver Más</a>
                        <i class="fa fa-arrow-right ml-2"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6">
            <div class="card border-0 text-white text-center" id="zoom">
                <img src="../../assets/car1.jpg" style="filter: blur(1px)">
                <div class="card-img-overlay d-flex align-items-center">
                    <div class="w-100">
                        <h2>MAGICO</h2>
                        <a href="#" class="btn btn-link text-white">Ver Más</a>
                        <i class="fa fa-arrow-right ml-2"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-6">
            <div class="card border-0 text-white text-center" id="zoom">
                <img src="../../assets/car1.jpg" style="filter: blur(1px)">
                <div class="card-img-overlay d-flex align-items-center">
                    <div class="w-100">
                        <h2>TERROR</h2>
                        <a href="#" class="btn btn-link text-white">Ver Más</a>
                        <i class="fa fa-arrow-right ml-2"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>