<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="form-group">
                <span class="login100-form-title p-b-26">
                    Iniciar Sesión
                </span>
                <br>
                <input class="form-control" type="text" placeholder="Usuario" autocomplete="off">
                <input class="form-control" type="password" placeholder="Contraseña" autocomplete="off">
                <button type="submit" class="btn btn-danger btn-block" style="margin-bottom: 20px;">
                    Entrar
                </button>
                <a style="text-decoration: none;" [routerLink]="['/registro']">No tienes cuenta?,
                    Regístrate.</a>
            </form>



        </div>
    </div>
</div>