<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <form class="text-center border border-light p-15" action="#!">

                <p class="h4 mb-1">Crear cuenta</p>
                <br>
                <div class="form-row mb-4">
                    <div class="col">

                        <input type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
                    </div>
                    <div class="col">

                        <input type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
                    </div>
                </div>


                <input type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">


                <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted ">
                    At least 8 characters and 1 digit
                </small>
                <input type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted ">
                Repeat password
                </small>

                <input type="number" id="defaultRegisterPhonePassword" class="form-control" placeholder="Phone number" aria-describedby="defaultRegisterFormPhoneHelpBlock">
                <small id="defaultRegisterFormPhoneHelpBlock" class="form-text text-muted ">
                    Optional - for two step authentication
                </small>


                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="defaultRegisterFormNewsletter">
                    <label class="custom-control-label" for="defaultRegisterFormNewsletter">Subscribe to our newsletter</label>
                </div>


                <button class="btn btn-danger my-2 btn-block" type="submit">Sign in</button>


            </form>
        </div>
    </div>
</div>