<div id="producto">
    <div class="container"><br>
        <h1>Nombre del libro</h1>
        <h5>Autor del libro</h5><br>
        <div class="row">
            <div class="img-container col-lg-4 col-md-6 col-sm-12">
                <img src="http://lorempixel.com/400/400/">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <h4 class="light-text">Categoria:</h4>
                <h4 class="light-text">Editorial:</h4>
                <h4 class="light-text">Idioma:</h4>
                <h4 class="light-text">ISBN:</h4>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="pago">
                    <h4 class="light-text">Categoria:</h4>
                    <h4 class="light-text">Editorial:</h4>
                    <h4 class="light-text">Idioma:</h4>
                    <h4 class="light-text">ISBN:</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                <h3>Sinopsis</h3>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque doloribus placeat aut, possimus natus doloremque architecto suscipit voluptas iure nesciunt.
                </p>
            </div>

        </div>

    </div>
</div>