<div id="producto" ngFor="let books">
    <div class="container"><br>
        <div class="row">
            <div class="img-container col-lg-8 col-md-6 col-sm-12">
                <img src="{{books[5]}}">
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="pago">
                    <h1>{{books[9]}}</h1>
                    <h5>{{'Autor: ' + books[0]}}</h5><br>
                    <h2>$ {{books[8]}}</h2>
                    <p>Forma de pago:</p>
                    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
                    <a class="btn btn-success my-2" href="#">Agregar a carrito </a>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <table class="table table-striped">
                    <thead>
                        <th scope="col">
                            Acerca del libro:
                        </th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Categoria: {{books[1]}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Numero de paginas: {{books[7]}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Idioma: {{books[6]}}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Año: {{books[10]}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-lg-6 col-sm-12">
                <h2>Sinopsis</h2>
                <p style="text-align: justify;">{{books[3]}}</p>
            </div>
        </div>
    </div>
</div>