<div class="con">
    <div class="container-login100">
        <div class="wrap-login100">
            <form action="#" class="credit-card-div">
                    <span class="login100-form-title p-b-26">
                    Pago
                        </span>
                        <br>
                <div class="panel panel-default">
                    <div class="panel-heading">


                            <div class="sell col-md-12 col-sm-12 col-xs-12">
                                    <i class="fa fa-cc-visa" aria-hidden="true"></i>
                                    <i class="fa fa-credit-card" aria-hidden="true"></i>
                                    <i class="fa fa-paypal" aria-hidden="true"></i>
                                </div>
                                <br>
                        <div class="row ">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Enter Card Number" />
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <span class="help-block text-muted small-font"> Expiry Month</span>
                                <input type="text" class="form-control" placeholder="MM" />
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <span class="help-block text-muted small-font"> Expiry Year</span>
                                <input type="text" class="form-control" placeholder="YY" />
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <span class="help-block text-muted small-font"> CCV</span>
                                <input type="text" class="form-control" placeholder="CCV" />
                            </div>
                       

                        </div>

                     
<br>
                      
                        <div class="row ">
                            <div class="col-md-12 pad-adjust">

                                <input type="text" class="form-control" placeholder="Name On The Card" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 pad-adjust">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checked class="text-muted"> Save details for fast
                                        payments <a href="#"> learn how ?</a>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row ">
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                <input type="submit" class="btn btn-danger" value="CANCEL" />
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 pad-adjust">
                                <input type="submit" class="btn btn-danger btn-block" value="PAY NOW" />
                            </div>
                        </div>

                    </div>
                </div>
            </form>



        </div>
    </div>
</div>